<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Правка пользователя</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">

</head>
<body>
<div th:insert="~{parts/heading :: heading}"></div>
<form action="/user" method="post">
    <input name="username" th:field="*{user.username}" type="text">
    <ul>
        <li th:each="role : ${roles}">
            <label th:text="${role}">ROLE_USER</label>
            <input th:checked="${user.roles.contains(role)}" th:name="${role}" th:value="${role}" type="checkbox"/>
        </li>
    </ul>
    <!--            <input type="checkbox" name="roles" th:value="${role}" th:if="${user.roles.contains(role)}" checked-->
    <!--                   th:text="${' ' + role}"/>-->
    <!--            <input type="checkbox" name="roles" th:value="${role}" th:unless="${user.roles.contains(role)}"-->
    <!--                   th:text="${' ' + role}"/>-->

    </a>
    <input name="userId" th:value="*{user.id}" type="hidden">
    <button type="submit">Сохранить</button>
</form>
</body>
</html>