<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Каталог продуктов</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
</head>
<body>
<div th:insert="~{parts/heading :: heading}"></div>
<!--<div th:insert="footer :: (${user.isAdmin}? #{footer.admin} : #{footer.normaluser})"></div>-->
<div>Каталог продуктов</div>
<div>
    <form method="get" action="/">
        <label>
            Фильтр
            <input class="form-control" type="text" name="filter" th:value="${filter}">
        </label>
        <button type="submit">&#128269;</button>
    </form>
</div>
<div th:each="product : ${page.getContent()}">
    <b>[[${product.name}]]</b>
    <span>[[${product.price}]]</span>
    <i>Готовы к выдаче: [[${product.count}]]</i>
            <a class="btn btn-warning" th:href="@{'/edit/' + ${product.id}}"
               type="button">
                Внести правку
            </a>
            <br/><br/>
            <a class="btn btn-danger" th:href="@{'/delete/' + ${product.id}}"
               type="button">
                Удалить материал
            </a>
</div>
</body>
</html>